<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ function('wp_head') }}
  <link rel="stylesheet" href="{{ site.theme.link }}/public/app.css" type="text/css" media="screen" />
  <title>Document</title>
</head>
<body class="{{body_class}}">
  <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

  <header class="header">
    {% block header %}
      <a class="" href="{{site.url}}" rel="home">{{site.name}}</a>

      <nav id="nav-main" class="nav-main" role="navigation">
        {% include "menu.twig" with {'items': menu.get_items} %}
      </nav>
    {% endblock %}
  </header>

  {% block content %}
    Ici le bloc content
  {% endblock %}

  <footer class="footer">
    <div>
      <a href="#"><img src="" alt=""></a>
      <p>Some food has looked so awful that it's looked like something that the dog's brought home.</p>
      <div>
        <h3>Follow Us</h3>
        <ul>
          <li><a href="#">fb</a></li>
          <li><a href="#">tw</a></li>
          <li><a href="#">in</a></li>
          <li><a href="#">li</a></li>
        </ul>
      </div>
    </div>

    <div>
      <nav class="nav-footer" role="navigation">
        {% include "menu.twig" with {'items': menu.get_items} %}
      </nav>
    </div>

    <div>
      <nav class="nav-footer" role="navigation">
        {% include "menu.twig" with {'items': menu_footer.get_items} %}
      </nav>
    </div>
    <div>
      <h3>Newsletter</h3>
      <form action="#">
        <div class="input-group">
          <input type="mail" autocomplete="email">
          <button type="submit">Subscribe</button>
        </div>
      </form>

      <ul>
        <li><a href="#">paypal</a></li>
        <li><a href="#">master card</a></li>
        <li><a href="#">visa</a></li>
      </ul>
    </div>
  </footer>

  {{ wp_footer }}
</body>
</html>