{#
/**
 * Block Name: Services block
*/
#}

<div class="services">
  <div>
    <img src="{{ fields['1er_service'].image.url }}" alt="{{ fields['1er_service'].image.url }}">
    <h2>{{ fields['1er_service'].titre }}</h2>
    <p>{{ fields['1er_service'].description }}</p>
  </div>

  <div>
    <img src="{{ fields['2eme_service'].image.url }}" alt="{{ fields['2eme_service'].image.url }}">
    <h2>{{ fields['2eme_service'].titre }}</h2>
    <p>{{ fields['2eme_service'].description }}</p>
  </div>

  <div>
    <img src="{{ fields['3eme_service'].image.url }}" alt="{{ fields['3eme_service'].image.url }}">
    <h2>{{ fields['3eme_service'].titre }}</h2>
    <p>{{ fields['3eme_service'].description }}</p>
  </div>

  <div>
    <img src="{{ fields['4eme_service'].image.url }}" alt="{{ fields['4eme_service'].image.url }}">
    <h2>{{ fields['4eme_service'].titre }}</h2>
    <p>{{ fields['4eme_service'].description }}</p>
  </div>
</div>